.background{
    width: 100%;
    background: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url(./../../../image/Main/agitation.jpg);
    display: flex;
    background-position-y:bottom;
}
.agitation{
    padding: 112px 0px 200px 0px;
    width: 1170px;
    margin: 0 auto;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
}

.title{
    color: #6abe52;
    font-family: 'Domine';
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #787878;
    line-height: 1.7;
}